<div class="container member-detailt pt-2" *ngIf="member">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-5 col-sm-12 member-details__card">
            <div class="cards-container">

                <div class="card card-one">
                    <header>
                        <div class="avatar">
                            <img [src]="member.photoUrl" alt="Jhon Doe" />
                        </div>
                    </header>
                    <h3>{{member.userName}}</h3>
                    <div class="d text-center mb-2">
                        <div *ngIf="(presence.onlineUsers$ | async).includes(member.userName);else lastActive">
                            <span class="text-success">user is online</span><span class="circle"></span>
                        </div>
                        <ng-template #lastActive>
                            <span>Last Active: {{member.lastActive | timeago}}</span>

                        </ng-template>

                    </div>

                    <div class="desc">
                        {{member.introduction}}
                    </div>
                    <div class="contacts">
                        <a href=""><i class="fa fa-plus"></i></a>
                        <a href=""><i class="fa fa-whatsapp"></i></a>
                        <a href=""><i class="fa fa-envelope"></i></a>
                        <div class="clear"></div>
                    </div>

                    <footer>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                    </footer>
                </div>
            </div>

        </div>

        <div class="col-lg-8 col-md-7 col-sm-12 tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button (click)="setTab('else')" class="nav-link" [class.active]="activeTab == 1" id="home-tab"
                        data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="home"
                        aria-selected="true">About
                        {{member.userName}}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button (click)="setTab('else')" class="nav-link" [class.active]="activeTab == 2" id="profile-tab"
                        data-bs-toggle="tab" data-bs-target="#interest" type="button" role="tab" aria-controls="profile"
                        aria-selected="false">Interests</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button (click)="setTab('else')" class="nav-link" [class.active]="activeTab == 3" id="contact-tab"
                        data-bs-toggle="tab" data-bs-target="#photos" type="button" role="tab" aria-controls="contact"
                        aria-selected="false">Photos</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button (click)="setTab('messages')" class="nav-link" [class.active]="activeTab == 4"
                        id="message-tab" data-bs-toggle="tab" data-bs-target="#message" type="button" role="tab"
                        aria-controls="message" aria-selected="false">Messages</button>
                </li>
            </ul>
            <div class="tab-content mt-2" id="myTabContent ">
                <div class="tab-pane fade" [ngClass]="{'show active' : activeTab == 1}" id="about" role="tabpanel"
                    aria-labelledby="home-tab">
                    <h4>Description</h4>
                    <p class="mb-3">{{member.introduction}}</p>
                    <h4>Looking For</h4>
                    <p class="mb-3">{{member.lookingFor}}</p>
                </div>
                <div class="tab-pane fade" [ngClass]="{'show active' : activeTab == 2}" id="interest" role="tabpanel"
                    aria-labelledby="profile-tab">
                    {{member.interests}}
                </div>
                <div class="tab-pane fade" [ngClass]="{'show active' : activeTab == 3}" id="photos" role="tabpanel"
                    aria-labelledby="contact-tab">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                </div>
                <div class="tab-pane fade" [ngClass]="{'show active' : activeTab == 4}" id="message" role="tabpanel"
                    aria-labelledby="message-tab">
                    <app-member-message *ngIf="messageBool" [username]="member.userName"></app-member-message>
                </div>
            </div>
        </div>

    </div>


    <!-- ========================== -->



</div>