<section class="first bg-white" id="first">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="tex">
          <p class="lh-base text-primary">Hi and welcome</p>
          <button class="rounded-pill rounded bg-primary mt-5 text-white shadow-lg">Click
            me</button>
          <div class="d-block icon fas fa-cloud-upload-alt"></div>

          <button class="rounded-pill" type="button">+1 028364513
            <span><i class="fas fa-phone-alt"></i></span>
          </button>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>