<nav class="navbar navbar-expand-lg navbar-light bg-primary shadow">
    <div class="container">
        <a class="navbar-brand text-white" routerLink="/" routerLinkActive=active>DatingApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="accountService.currentUser$ | async">
                <ng-container>
                    <li class="nav-item">
                        <a class="nav-link text-white active" aria-current="page" routerLink="/members"
                            routerLinkActive='active'>Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/lists" routerLinkActive='active'>Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/messages" routerLinkActive='active'>Messages</a>
                    </li>
                    <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
                        <a class="nav-link text-white" routerLink="/admin" routerLinkActive='active'>Admin</a>
                    </li>
                </ng-container>
                <!-- <ng-container *ngIf="accountService.currentUser$ | async">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/members' routerLinkActive='active' >Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/messages'routerLinkActive='active' >Messages</a>
                    </li>
                    <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
                        <a class="nav-link" routerLink='/admin'routerLinkActive='active' >Admin</a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/errors'routerLinkActive='active' >Errors</a>
                </li> -->
            </ul>

            <div class="dropdown d-flex" *ngIf="(accountService.currentUser$ | async)as user">
                <div class="imgBx rounded-circle d-inline-block"><img
                        [src]="user.photoUrl || '../../../assets/user.png'" [alt]="user.photoUrl" class="img-fluid">
                </div>
                <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Welcome {{user.knownAs || user.userName | titlecase}}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark text-white" aria-labelledby="dropdownMenuButton2">
                    <li><a routerLink="/member/edit" class="dropdown-item active" href="#">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="#" (click)="logOut()">LogOut</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>
            <form *ngIf="(accountService.currentUser$ | async) === null" class="d-md-flex mt-lg-0 mt-sm-3"
                #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                <input name="userName" [(ngModel)]="model.userName" class="form-control me-2" type="text"
                    placeholder="Username" aria-label="Search">
                <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                    placeholder="Password" aria-label="Search">
                <button class="btn btn-success" type="submit">Login</button>
            </form>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
        <a class="navbar-brand" href="#">DatingApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="loggedIn">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Messages</a>
                </li>
            </ul>
            <form *ngIf="!loggedIn" class="d-flex" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                <input name="userName" [(ngModel)]="model.userName" class="form-control me-2" type="search"
                    placeholder="Username" aria-label="Search">
                <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="search"
                    placeholder="Password" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>

            
        </div>
    </div>
</nav> -->