<div class="member-card rounded-3 border mb-2">
    <div class="member-card__imgBx">
        <img class="member-card__image img-fluid" [src]="member.photoUrl || '../../../assets/user.png'"
            [alt]="member.knownAs">
        <div class="member-card__icons d-flex justify-content-center">
            <button (click)="addLike(member)" class="btn btn-primary me-2"> <i [class]="iconClass"></i></button>
            <button routerLink='/members/{{member.userName}}' class="btn btn-primary me-2">
                <li class="fas fa-user"></li>
            </button>
            <button routerLink="/members/{{member.userName}}" [queryParams]='{activeTab:4}'
                class="btn btn-primary me-2">
                <i class="fas fa-envelope"></i></button>

        </div>
    </div>

    <div class="member-card__text text-center mt-2">
        <h6> <span [class.is-online]="(presence.onlineUsers$ | async).includes(member.userName)">
                <i class="fas fa-user me-2"></i>
            </span>
            {{member.knownAs}}, {{member.age}}</h6>
        <p class="lh-lg fw-light">
            {{member.city}}
        </p>
    </div>

</div>